<div id="container">
  <div class="int-container-1">
      <img src="assets/foto.jpg" />
      <h1 class="text">RESUMEN PROFESIONAL</h1>
      <p class="text">Soy un estudiante en la carrera de
          desarrollo Fullstack ofrecida por Digital<br>
          House en compañía de Globant y
          Mercado libre, me considero un entusiasta<br> 
          por las nuevas tecnologías y el
          desarrollo de aplicaciones web dispuesto al <br> 
          continuo aprendizaje y fortalecimiento
          de habilidades adquiridas</p>
      <h1 class="text">HABILIDADES PROFESIONALES</h1>
      <p class="text">- HTML5<br>
          - CSS<br>
          - MYSQL<br>
          - FUNDAMENTOS DE JAVASCRIPT<br>
          - FUNDAMENTOS DE JAVA<br>
          - METODOLOGIAS AGILES<br>
          - GIT Y GITHUB<br>
          - TRABAJO EN EQUIPO<br>
          - AUTOAPRENDIZAJE</p>
  </div>
  <div id="int-container-2">
          <h1 class="text">Juan Jose Cordoba Paredes</h1>
          <h5 class="text">Correo electronico: juanjosec@unicauca.edu.co</h5>
          <h5 class="text">Repositorio: https://github.com/JUAN345-lang/bootcampFullstackSP.git</h5>
      <h2 class="text">Estudiante de desarrollo Full Stack</h2>
      <h3 class="text">INSTITUCIONES ANTERIORES</h3>
      <h4 class="text">Universidad del Cauca</h4>
      <h5 class="text">Ingenieria agroindustrial | Enero 2016 - Presente</h5>
      <h4 class="text">Digital House</h4>
      <h5 class="text">Desarrollo de software fullstack | Agosto 2021 -
          Presente<br>
          - Realización de maquetado con HTML5 y CSS<br>
          - Análisis y ejecución de algoritmos para resolución de<br>
          problemas en lenguajes Java y Javascript.<br>
          - Creación y ejecución de queries para consultar con MYSQL.<br>
          - Conocimiento en metodologías agiles como scrum y
          kanban<br>
          - Conocimiento en control de versiones con Git y GitHub
      </h5>
      <h4 class="text">Ministerior de tecnologia de la informacion y las<br>
          comunicaciones de Colombia
      </h4>
      <h5 class="text">
          Desarrollo de software | Marzo 2021 - Diciembre 2021
      </h5>
      <h5 class="text">
          - Conceptos básicos de programación<br>
          - Inicio a desarrollo frontend con HTML5, CSS y<br>
          JavaScript básico<br>
          - Uso de metodologías agiles como scrum<br>
          manejo de repositos con software de control de<br>
          versiones Git y GitHub
      </h5>
      <h4 class="text">Bootcamp Sophos Fullstack</h4>
      <h5 class="text">
          Desarrollo de software | Octubre 2022 - Enero 2023
      </h5>
      <h5 class="text">
          - Conceptos básicos de programación<br>
          - Fundamentos de Java<br>
          - Spring boot<br>
          - JavaScript básico<br>
          - Uso de metodologías agiles como scrum<br>
          - Manejo de repositos con software de control de<br>
          versiones Git y GitHub
      </h5>
  </div>
</div>